.DS_Store
node_modules
dist
dist-ssr
cache
.cache
.temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

.idea
.vscode
.github
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
